/*.button {
    -fx-background-color: #00A313;
    -fx-font-weight: BOLD;
    -fx-border-color: #00CF18;
    -fx-font-size: 19px;
}*/

#search {
    -fx-background-color: #23B72A;
    -fx-cursor: hand;
}

#favoritesBTN {
    -fx-background-color: #FFFB8F;
    -fx-font-weight: BOLD;
    -fx-border-color: #CCC500;
    -fx-font-size: 19px;
}

#newPane{
    -fx-background-color: rgba(128, 128, 128, 0.1);
    -fx-background-radius: 10;
}

#loginPane{
    -fx-background-color: rgba(128, 128, 128, 0.4);
    -fx-background-radius: 10;
}

#createPane{
    -fx-background-color: rgba(128, 128, 128, 0.8);
    -fx-background-radius: 10;
}

#topAnchor{
    -fx-background-image: url('images/background/bluemoutain.png');
    -fx-background-size: 100% 400px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #0a2d28;
}

#postPane{
    -fx-background-color: rgba(166, 166, 166, 0.7);
    -fx-background-radius: 10;
}

#postAnchor{
    -fx-background-image: url('images/background/pinkhike.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

#itemPane{
    -fx-background-color: #F2F2F2;
}

#itemContainer{
    -fx-background-color: rgba(255, 255, 255);
    -fx-background-radius: 10;
}

#scrollPane{
    -fx-background-color: #F2F2F2;
}

.button-style {
    -fx-background-color: #E2DCD2;
    -fx-cursor: hand;
}

#haveButton{
    -fx-background-color: none;
    -fx-underline: true;
}