/*.button {
    -fx-background-color: #00A313;
    -fx-font-weight: BOLD;
    -fx-border-color: #00CF18;
    -fx-font-size: 19px;
}*/

#favoritesBTN {
    -fx-background-color: #FFFB8F;
    -fx-font-weight: BOLD;
    -fx-border-color: #CCC500;
    -fx-font-size: 19px;
}

#newPane{
    -fx-background-color: rgba(128, 128, 128, 0.1);
    -fx-background-radius: 10;
}

#loginPane{
    -fx-background-color: rgba(128, 128, 128, 0.3);
    -fx-background-radius: 10;
}

#createPane{
    -fx-background-color: rgba(128, 128, 128, 0.6);
    -fx-background-radius: 10;
}

#topAnchor{
    -fx-background-image: url('bluemoutain.png');
    -fx-background-size: 100% 400px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #0a2d28;
}

#postPane{
    -fx-background-color: rgba(128, 128, 128, 0.1);
    -fx-background-radius: 10;
}

#postAnchor{
    -fx-background-image: url('greenhills.jpg');
}